.footer__{
    margin-top: 70px;
}
.foot_box{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    p{
        font-family: $RobotoThin;
        font-size: 16px;
        color: $Main_Black;
    }
}