@media screen and (max-width:769px){
    .absolute_box{
        top: 400px;
        width: 500px;
        margin: auto;
        display: block;
        left: 115px;
    }
    .contact_info-box{
        h1{
            display: none;
        }
    }
    .pr_0 {
        padding-right: 15px;
    }
    .pl_0 {
        padding-left: 15px;
    }
    .d_wrap_{
        display: flex;
        flex-direction: column-reverse;
    }
    .form_box{
        background: $Bg_color;
    }
    .form{
        margin: 0 20px;
    }
    .radio_box{
        margin: 0 20px;
    }
    .chek_box{
        margin: 30px;
    }
    .float-right{
        float: unset !important;
    }
    .send_btn{
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .contact_info-box{
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .view{
        font-size: 30px;
    }
    .soc_icons{
        width: 35px;
        height: 35px;
        font-size: 20px;
        padding: 4px;
    }
    .foot_box{
        margin-top: 560px;
    }
    .card-service__title{
        top: 40%;
        font-size: 35px;
    }
}
@media screen and (max-width:576px){
    .logo{
        width: 125px;
    }
    .red__logo{
        width: 150px;
    }
    .nav__ul{
        margin-top: 35px;
    }
    .nav__li{
        font-size: 34px;
    }
    .main__title-num{
        font-size: 32px;
    }
    .main__title{
        font-size: 20px;
    }
    .banner__title{
        right: 20px;
    }
    .service__wrapper{
        h1{
            font-size: 27px;
            margin: 0px 0 50px 0;
        }
    }
    .service_box{
        margin-bottom: 30px;
    }
    .card-service__title{
        top: 50%;
    }
    .absolute_box {
        width: 350px;
        left: 10px;
    }
    .foot_box {
        margin-top: 600px;
    }
    .bus{
        width: 105px;
    }
    .road{
        top: 0;
    }
    .bush{
        width: 220px;
        position: absolute;
        top: -26px;
        left: 27%;
    }
    .mountain{
        width: 413px;
    }
}