// colors
$Main_White     : #ffffff;
$Main_Black     : #000000;
$Nav_Color      : #000000;
$Arrow_color    : #FF0000;
$Bg_color       : #EBE8DE;
// fonts
$Myriad         : 'MyriadProRegular';
$RobotoConBold  : 'RobotoCondensedBold';
$RobotoConLight : 'RobotoCondensedLight';
$RobotoLight    : 'RobotoLight';
$RobotoThin     : 'RobotoThin';